<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Интернет-магазин игр{% endblock %}</title>
</head>
<body>
<header>
  {% block pagename %}
  <h1>{{ header }}</h1>
  {% endblock %}
</header>
<nav>
  {% block menu %}
  <p><a href="/platform/">Главная</a></p>
  <p><a href="/platform/games/">Магазин</a></p>
  <p><a href="/platform/cart/">Корзина</a></p>
  {% endblock %}
</nav>
<main>
  {% block content %}{% endblock %}
</main>
<footer>
  {% block footer %}
  <p><a href=".."><button>Вернуться обратно</button></a></p>
  {% endblock %}
</footer>
</body>
</html>
